{% extends "base.html" %}

{% block title %}Userly - Confirme sua contat{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>
        Olá, {{ current_user.username }}!
    </h1>
    <h3>Você ainda não confirmou sua conta.</h3>
    <p>
        Antes de você acessar esse site você precisa confirmar sua conta.
        Verifique sua caixa de e-mail, você deve ter recebido um e-mail com um link de confirmação.
    </p>
    <p>
        Precisa de outro e-mail de confirmação?
        <a href="{{ url_for('auth.resend_confirmation') }}">Clique aqui</a>
    </p>
</div>
{% endblock %}
